$color: linear-gradient(to top, #09203f 0%, #537895 100%);

nav {
    background: $color;
    background-blend-mode: multiply,multiply;
}
body {
    background: $color; 
 background-blend-mode: multiply,multiply;
}
.content {
    background-color: red;
}
.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.welcome {
    text-align: center;
    h1 {
        font-size: 75px;
        color: whitesmoke;
    }

}